name: Publish Chart

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write

jobs:
  publish-chart:
    uses: orhayoun-eevee/build-workflow/.github/workflows/release-chart.yaml@f3aa38eebaa71718193812fba1836c580676fec8
    with:
      chart_path: .
    secrets: inherit  # Required for cross-repo workflows
 